-
	const programms = [
		{
			id: 'day-1',
			status: 'active',
			image: 'img/3-day-1.jpg',
			title: "Как полюбить себя и избавится от негативных установок",
			list: [
				"Признаки низкой самооценки",
				"Причины низкой самооценки",
				"Последствия низкой самооценки",
				"Как повысить самооценку?",
				"Как вновь не допустить обнуления самооценки?",
			]
		},
		{
			id: 'day-2',
			image: 'img/3-day-2.jpg',
			title: "Как построить отношения и выйти замуж за достойного мужчину",
			list: [
				"Почему Ваши отношения с мужчинами краткосрочны?",
				"Какие этапы необходимо пройти для создания счастливых отношений?",
				"На каких девушках женятся мужчины?",
				"Как превратить ухаживания в предложение руки и сердца?",
				"Вы живете с убеждением: достойных мужчин нет?",
			]
		},
		{
			id: 'day-3',
			image: 'img/3-day-3.jpg',
			title: "Как разорвать бесперспективный брак, где найти силы?",
			list: [
				"Спасти семью любой ценой или развестись?",
				"Жить в несчастливом браке ради детей?",
				"Причины мешающие выйти из разрушающих отношений",
				"Как восстановить женственность после развода",
			]
		},
		{
			id: 'day-4',
			image: 'img/3-day-4.jpg',
			title: "«Почему ты любовница и как стать женой»?",
			list: [
				"Почему женщины соглашаются на роль любовницы?",
				"Перспективы отношений в любовном треугольнике",
				"Почему мужчины изменяют своим женам с любовницами?",
				"Как из любовницы превратиться в жену?",
			]
		},
		{
			id: 'day-5',
			image: 'img/3-day-5.jpg',
			title: "ТОП-5 ошибок, которых не стоит допускать в общении с мужчинами",
			list: [
				"Какие ошибки в отношениях приводят к краху?",
				"Почему мужчины не видят тебя в своем будущем?",
				"Почему влюбленность не перерастает в любовь?",
				"Как избегать и не допускать ошибок в отношениях с мужчинами?",
				"Каких женщин ценят и любят мужчины?",
				"Что ты должна знать, прежде чем начинать отношения?",
			]
		}
	];

+programm(programms)