-
	const programms = [
		{
			id: 'day-1',
			status: 'active',
			image: 'img/5-day-1.jpg',
			title: "Как повысить самооценку и полюбить себя",
			list: [
				"Признаки низкой самооценки",
				"Причины низкой самооценки",
				"Последствия низкой самооценки",
				"Как повысить самооценку?",
				"Как вновь не допустить обнуления самооценки?",
			]
		},
		{
			id: 'day-2',
			image: 'img/5-day-2.jpg',
			title: "Как выйти замуж с ребенком?",
			list: [
				"Ребенок преимущество или помеха?",
				"Почему мужчины не хотят отношений с женщинами, у которых дети от предыдущего брака?",
				"На каких женщинах с детьми женятся мужчины?",
				"Как объяснить ребенку появление мужчины в вашей жизни?",
				"Как охранить гармонию и баланс – мужчина, женщина, ребенок?",
			]
		},
		{
			id: 'day-3',
			image: 'img/5-day-3.jpg',
			title: "Муж пьет, бьет, - как быть?",
			list: [
				"Как общаться с мужчиной, который в зависимости?",
				"Как помочь мужчине избавиться от зависимости?",
				"Возможно ли нормализовать отношения, если мужчина катится в «пропасть»?",
				"Спасать семью ради детей?",
			]
		},
		{
			id: 'day-4',
			image: 'img/5-day-4.jpg',
			title: "Как избавиться от одиночества и привлечь достойного мужчину",
			list: [
				"Почему вам не везет с мужчинами?",
				"Как научиться доверять мужчинам?",
				"Почему мужчины бросают вас?",
				"Как восстановиться, если пережила развод и предательство?",
			]
		},
		{
			id: 'day-5',
			image: 'img/5-day-5.jpg',
			title: "Как разорвать бесперспективный брак, где найти силы?",
			list: [
				"спасти семью любой ценой или развестись?",
				"жить в несчастливом браке ради детей?",
				"причины мешающие выйти из разрушающих отношений",
				"как восстановить женственность после развода",
			]
		}
	];

+programm(programms)