-
	const programms = [
		{
			id: 'day-1',
			status: 'active',
			image: 'img/4-day-1.jpg',
			title: "«Сожительство - что мешает создать семью»?",
			list: [
				"Почему женщины соглашаются на сожительство?",
				"Пробный брак и его последствия для женщины",
				"Признаки бесперспективности сожительства",
				"Жена или 'временно исполняющая обязанности'?",
				"Как из сожительства перевести отношения в официальный брак?",
				"Почему мужчина не женится, но живет с Вами?"
			]
		},
		{
			id: 'day-2',
			image: 'img/4-day-2.jpg',
			title: "«Почему ты любовница и как стать женой»?",
			list: [
				"Почему женщины соглашаются на роль любовницы?",
				"Перспективы отношений в любовном треугольнике",
				"Почему мужчины изменяют своим женам с любовницами?",
				"Как из любовницы превратиться в жену?"
			]
		},
		{
			id: 'day-3',
			image: 'img/4-day-3.jpg',
			title: "«Как сохранить семью, если она рушится»?",
			list: [
				"Базовые различия мужской и женской психологии",
				"Причины семейных конфликтов и их разрешение",
				"Как сохранить семью и вернуть чувственность?",
				"Сохранять брак ради детей?",
				"Муж загулял, что делать и как вернуть?",
			]
		},
		{
			id: 'day-4',
			image: 'img/4-day-4.jpg',
			title: "«Почему у тебя нет любимого мужчины»?",
			list: [
				"Почему мужчины не видят тебя в своем будущем",
				"Почему влюбленность, не перерастает в крепкую любовь",
				"Как избегать и не допускать ошибок в отношениях с мужчинами",
				"Почему у мужчин пропадает интерес к тебе"
			]
		},
		{
			id: 'day-5',
			image: 'img/4-day-5.jpg',
			title: "«Почему ты замужем, но одинока»?",
			list: [
				"Причины одиночества в семье",
				"Причины, по которым мужчина отдалился",
				"Ошибки, которые привели к состоянию одиночества",
				"Как исправить ситуацию и жить счастливой жизнью",
			]
		}
	];

+programm(programms)