+b.SECTION.book
	.container
		+e.row.row
			+e.image.col-12.col-sm-6.col-md-5
				img(src="img/book.jpg")
			.col-12.col-sm-6.col-md-7.col-lg-6
				+e.content
					+e.P.subtitle Зарегистрируйтесь прямо сейчас и
						br
						| я отправлю Вам свою мини-книгу
					+e.P.title "Как узнать достойного мужчину:
						br
						| 5 признаков" в 
						span.color-brand-1 подарок!
				+b.FORM.form._block._modern._center(action="unisender.php" method="POST")
					+e.content
						+e.row._line
							+e.LABEL.label(for="email") Email
							+e.INPUT.control(id="email" name="email" type="email" required placeholder="Введите вашу почту")
							+e.SPAN.line
						+e.row._submit
							+e.BUTTON.submit.btn._lg._brand-1.effect._bounce-top(type="submit") Зарегистрироваться бесплатно
								br
								| и получить мини-книгу