+b.SECTION.greeting
	.container
		+e.info.row
			.col-12.col-sm-6
				+e.bg
					+e.bg-image(src="img/header-image.png")
			+e.info-content.col-12.col-sm-6
				+e.H1.title
					+e.SPAN.title-small Я такая одна:
					br
					+e.SPAN.title-large
						span.color-brand-1 Удобная 
						| или
						br
						span.color-brand-1 Уникальная?
				+e.H2.subtitle Серия из 5 
					span.color-brand-1.b бесплатных 
					| онлайн мастер-классов
		+e.questions.row
			+e.questions-item.col-12.col-sm-4
				+e.questions-item-inner
					p Как 
						span.b спасти отношения, 
						br
						| у которых, казалось бы,
						br
						| уже нет шансов?...
			+e.questions-item.col-12.col-sm-4
				+e.questions-item-inner
					p Как 
						span.b привлечь достойного 
							br
							| мужчину 
						| и построить счастливые, 
						br
						| гармоничные отношения?...

			+e.questions-item.col-12.col-sm-4
				+e.questions-item-inner
					p Как сделать всё это 
						span.b без драм, 
						br
						span.b манипуляций 
						| и битья посуды, 
						br
						span.b сохранить нервы 
						| и остаться при 
						br
						| этом 
						span.b настоящей женщиной?...