+b.SECTION.invite
	.container
		+e.form-outer
			+e.form
				+e.P.form-title Научитесь строить 
					span.b отношения, которые с годами только крепнут,
					br
					| а не приводят к скандалам и разводу
				+b.FORM.form._line._classic
					+e.content
						+e.row
							+e.INPUT.control(name="email" type="email" placeholder="Ваш email")
						+e.row
							+e.BUTTON.submit.btn._brand-1.effect._bounce-top(type="submit") Зарегистрироваться бесплатно