+b.SECTION.invite
	.container
		+e.form-outer
			+e.form
				+e.P.form-title Научитесь строить 
					span.b отношения, которые с годами только крепнут, 
					br
					| а не приводят к скандалам и разводу
				+b.FORM.form._block._classic(action="https://app.getresponse.com/add_subscriber.html" method="POST")
					input(type='hidden' name='campaign_token' value='nm0pI')
					input(type='hidden' name='thankyou_url' value='http://promo.markbarton.ru/page3/thx.html')
					input(type='hidden' name='start_day' value='0')
					input(type='hidden' name='forward_data' value='')
					input(type="hidden" name="redirect" value="thx.html")
					+e.content
						.row
							.col-12.col-sm-6
								+e.row
									+e.INPUT.control(name="first_name" type="text" required placeholder="Ваше имя")
								+e.row
									+e.INPUT.control(name="email" type="email" required placeholder="Ваш email (пришлём ссылку на участие)")
								+e.row
									+e.INPUT.control(name="phone" type="tel" required placeholder="Ваш телефон (напомним по sms)")
							.col-12.col-sm-6
								+e.row
									+e.BUTTON.submit.btn._lg._brand-1.effect._bounce-top(type="submit") Зарегистрироваться бесплатно