+b.SECTION.statistics.section
	.container
		+e.content.row
			+e.item.col-12.col-sm-6
				+e.item-inner
					p В среднем, 
						span.b каждая 2-я женщина пытается строить отношения как это делали её мама, бабушка… 
						| но в современном мире это не работает
			+e.item.col-12.col-sm-6
				+e.item-inner
					p Около 
						span.b 86% женщин “обжигаются”, выбрав однажды не того мужчину 
						| , закрываются для отношений и проживают неполноценную, несчастливую жизнь
			+e.item.col-12.col-sm-6
				+e.item-inner
					p 6 из 10-ти женщин годами являются объектом обмана женатых мужчин, которые 
						span.b обещают жениться, а в итоге всё равно возвращаются в семью
			+e.item.col-12.col-sm-6
				+e.item-inner
					p Каждая 2-я женщина 
						span.b тратит от 4 до 12 лет своей жизни на несчастливый брак, 
						| в которой её постоянно угнетают, унижают и делают несчастной
		+e.footer
			p * Это общемировая статистика. По данным исследований за 2017 г.