+b.SECTION.video.section
	.container
		.section__header
			h3.section__title Видео-приглашение Марка Бартона
			p.section__subtitle ведущего серии мастер-классов
		+e.row.row
			.col-12.col-sm-10.col-lg-8
				+e.IFRAME.iframe(src="https://www.youtube.com/embed/jAzyCXGEdTU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
	+e.footer
		+e.SPAN.footer-line._1
		+e.A.footer-btn.btn._brand-1._lg.effect._bounce-bottom.scrolling(data-scroll href="#") Освоить навык создания
			br
			| счастливых отношений
		+e.SPAN.footer-line._2