+b.SECTION.warning.section.text-center
	.container
		+e.H3.title Не попадайте в эту статистику
		+e.content
			p Бронируйте место на мою серию онлайн мастер-классов и я покажу Вам,
				br
				span.b как научиться строить отношения, которые с годами только крепнут, а не приводят к <br> скандалам и разводу