-
	const programms = [
		{
			id: 'day-1',
			status: 'active',
			image: 'img/6-day-1.jpg',
			title: "Сохранить семью или лучше расстаться?",
			list: [
				"Проведешь диагностику своих отношений в семье ",
				"Узнаешь о способах улучшения отношений с мужем ",
				"Узнаешь о признаках свидетельствующих о бесперспективности отношений ",
				"Узнаешь о том, как несчастливые отношения родителей влияют на детей ",
				"Получишь действенные рекомендации по выходу из кризиса личности",
			]
		},
		{
			id: 'day-2',
			image: 'img/6-day-2.jpg',
			title: "Как выйти замуж за достойного мужчину?",
			list: [
				"Почему Ваши отношения с мужчинами краткосрочны?",
				"Какие этапы необходимо пройти для создания счастливых отношений?",
				"На каких девушках женятся мужчины?",
				"Как превратить ухаживания в предложение руки и сердца?",
				"Вы живете с убеждением: достойных мужчин нет?",
			]
		},
		{
			id: 'day-3',
			image: 'img/6-day-3.jpg',
			title: "Как пережить расставание и начать новую жизнь?",
			list: [
				"Почему мужчины не видят тебя в своем будущем",
				"Почему влюбленность, не перерастает в крепкую любовь",
				"Как избегать и не допускать ошибок в отношениях с мужчинами",
				"Почему у мужчин пропадает интерес к тебе",

			]
		},
		{
			id: 'day-4',
			image: 'img/6-day-4.jpg',
			title: "Насилие в семье – как жить с абьюзером?",
			list: [
				"Насилие в семье – как жить с абьюзером?",
				"Узнаешь о формах Абьзивных отношений ",
				"Узнаешь с каким мужчиной ты находишься в отношениях ",
				"Узнаешь, как противостоять различным видам насилия в семье",
				"Осознаешь почему ты оказалась в таких отношениях ",
				"Узнаешь почему ты не можешь расстаться с насильником ",
				"Получишь действенные рекомендации и советы",
			]
		},
		{
			id: 'day-5',
			image: 'img/6-day-5.jpg',
			title: "Как перестать быть любовницей и создать счастливые отношения?",
			list: [
				"Почему женщины соглашаются на роль любовницы?",
				"Перспективы отношений в любовном треугольнике",
				"Почему мужчины изменяют своим женам с любовницами?",
				"Как из любовницы превратиться в жену?",
			]
		},
		{
			id: 'day-6',
			image: 'img/6-day-1.jpg',
			title: "Как избавиться от комплексов и стать уверенной в себе?",
			list: [
				"Признаки низкой самооценки",
				"Причины низкой самооценки",
				"Последствия низкой самооценки",
				"Как повысить самооценку?",
				"Как вновь не допустить обнуления самооценки?",
			]
		}
	];

+programm(programms)