extends /layouts/base

block blocks
	include /blocks/nav/navBase

block variables
	- var title = 'Я такая одна: Удобная или Уникальная?';
	- var description = 'Как спасти отношения, у которых, казалось бы, уже нет шансов?...';
	- var url = '';
	- var image = 'img/header-image.png';
	- var campaign_token = 'nm0pI';
	- var thankyou_url = 'http://promo.markbarton.ru/page/5/thx';

block nav
	+navBase()

block content
	include /pages/index/greeting
	include /pages/5/invite
	include /pages/index/video
	include /pages/5/programm
	include /pages/index/attention
	include /pages/index/statistics
	include /pages/index/warning
	include /pages/5/book