extends /layouts/base

block blocks
	include /blocks/nav/navBase

block variables
	- var title = 'Я такая одна: Удобная или Уникальная?';
	- var description = 'Я такая одна: Удобная или Уникальная?';
	- var url = '';
	- var image = 'img/logo.png';

block nav
	+navBase()

block content
	include /pages/index/greeting
	include /pages/index/invite
	include /pages/index/video
	include /pages/index/programm
	include /pages/index/attention
	include /pages/index/statistics
	include /pages/index/warning
	include /pages/index/book