.programm

	margin-bottom: 0
	padding-bottom: 30px

	+bg('../img/bg-programm.jpg', 0 50%)

	+min(sm)
		padding-bottom: 60px

	&-item

		+max(sm)

			&__column
				&_image
					margin-bottom: 15px

		+min(sm)
			align-items: center

		&__title
			margin-bottom: 20px
			font-size: 19px
			line-height: 1.1
			+font('pb')

			+min(sm)
				font-size: 21px

			+min(md)
				margin-bottom: 30px
				font-size: 22px

			+min(lg)
				font-size: 24px

		&__list
			font-size: 16px

			+min(sm)
				font-size: 19px

			+min(md)
				font-size: 20px

	&__tabs-content
		+max(sm)
			padding-top: 55px

	.owl
		&-nav
			+absolute(120px, null, null, 0)
			width: 100%
			
			.owl-prev,
			.owl-next
				+absolute(0)
				+size(50px)
				border: none
				background-color: $color-brand-1
				outline: none
				font-size: 20px
				color: $color-white

				+transition()

				&.disabled
					opacity: 0

			.owl-prev
				left: -15px

			.owl-next
				right: -15px

		&-dots
			width: 100%
			+absolute(0, null, null, 0)
			text-align: center

			counter-reset: owl

		&-dot
			+relative()
			display: inline-block
			padding: 7px 11px
			background-color: transparent
			border: 1px solid #d3cece

			text-decoration: none
			color: #d3cece
			font-size: 15px
			outline: none

			+transition()

			&:not(:last-child)
				margin-right: 7px

			&:before
				content: ""
				+absolute(1px, -3px)
				+size(6px, 15px)
				background-color: $color-white
			&:after
				counter-increment: owl
				content: counter(owl)

			&.active
				color: $color-brand-1
				border-color: $color-brand-1
			// +size(15px)
			// border-radius: 100%
			// background-color: $color-brand-2
			// +transition()

			// &:not(:last-child)
			// 	margin-right: 10px

			// &.active
			// 	background-color: $color-brand-1

	+ .attention
		margin-top: 0