block variables

//- Include helpers mixins
include /mixins/mixins
include /bem/index
//- End

doctype html
html(lang="ru" prefix="og: http://ogp.me/ns#")
	head
		include /includes/head
		include /includes/styles
		include /includes/scripts

		block blocks
	body
		block bodyScripts
		block nav
		.site#page
			.site-content#content
				block content
			block footer